// _variables.scss
$header-bg-color: rgba(255, 255, 255, 0.0); // Adjust the alpha value for transparency
$page-background-image: url('../assets/searchpage_bg.jpg'); // Replace with the path to your image

// SearchPage.scss
@import '../styles/variables';

body {
  background-image: $page-background-image;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  /* Reset margin for the body */
}

.header__for__searchpage {
  background-color: $header-bg-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;

  img {
    width: 80px; // Set your desired initial icon size
    height: auto;
    margin-top: 20px;
    margin-right: 40px; // Adjust the margin as needed
    transition: width 0.3s; // Add a transition for a smoother effect
  }

  @media (max-width: 768px) {
    img {
      width: 60px; // Adjust the icon size for smaller screens
    }
  }
}

.searchbar__container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 120px;
  width: 100%;
  transition: width 0.5s; 

  
  @media (max-width: 768px) {
    img {
      width: 60px;
    }
  }
}


/* styles.scss */

.container {
  border-radius: 4px;
  top: 13rem;
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 900px;
  height: 100%;
  background: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  overflow: auto;

  .content {
    padding: 2rem;

    .heading {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }

    .image-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      gap: 1rem;
      margin-bottom: 2rem;

      .image-item {

        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        text-decoration: none !important;
        text-underline-offset: unset;

        .image {
          background: #000;
          height: 180px;
          width: 140px;
          object-fit: cover;
          aspect-ratio: 260/280;
          border-radius: 4px;
        }

        .text {
          margin-top: 0.5rem;
          align-items: center;
          width: 100%;
          max-width: 140px;

          a {
            text-decoration: none !important;
            color: inherit;
            /* Optionally, ensure that the link color remains unchanged */
          }

          a:hover {
            text-decoration: none !important;
          }
        }
      }
    }

    .link {
      text-decoration: none;
    }

    .suggestions {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 2rem;

      .text {
        margin-top: 0.5rem;
      }
    }

  }
}